 
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
       
       <div class="row" style="padding-top: 57px">
          <div class="col-xs-12 col-sm-4">
	        <div class="box p-a">
	          <div class="pull-left m-r">
	            <span class="w-48 rounded  accent">
	              <i class="fa fa-envelope" style="margin-right: 0rem;"></i>
	            </span>
	          </div>
	          <div class="clear">
	            <h4 class="m-a-0 text-lg _300"> <span class="text-sm">125 Emails</span></h4>
	            <small class="text-muted">6 new arrivals.</small>
	          </div>
	        </div>
	    </div> 
           
         
         <div class="col-xs-6 col-sm-4">
	        <div class="box p-a">
	          <div class="pull-left m-r">
	            <span class="w-48 rounded primary">
	            <i class="fa fa-envelope" style="margin-right: 0rem;"></i>
	            </span>
	          </div>
	          <div class="clear">
	            <h4 class="m-a-0 text-lg _300"> <span class="text-sm">40 Projects</span></h4>
	            <small class="text-muted">38 open.</small>
	          </div>
	        </div>
	    </div>
         
         <div class="col-xs-6 col-sm-4">
	        <div class="box p-a">
	          <div class="pull-left m-r">
	            <span class="w-48 rounded warn">
	           <i class="far fa-user" style="margin-right: 0rem;"></i>

	            </span>
	          </div>
	          <div class="clear">
	            <h4 class="m-a-0 text-lg _300"> <span class="text-sm"> 600 Users</span></h4>
	            <small class="text-muted">632 vips.</small>
	          </div>
	        </div>
	    </div>
        </div> 
          
         
        
       
    <div class="row">
        
        <div class="col-12 col-sm-6 col-md-4">
            <div class="info-box1 mb-3">
              
          </div>
           </div>
	   
          <div class="col-12 col-sm-6 col-md-4">
            <div class="info-box1 mb-3">
              
          </div>
           </div>
         
          <div class="col-12 col-sm-6 col-md-4">
            <div class="info-box1 mb-3">
             
              
            </div>
            
          </div>
         
         
  </div>
    
   <div class="row">
	    <div class="col-sm-12 col-md-6">
	    	<div class="box">
	    		<div class="box-header">
	    			<h3>Open Projects <span class="label warning">9</span></h3>
	    			<small>Your data status</small>
	    		</div>
		    	<ul class="list inset">
			        <li class="list-item">
			          <a herf="" class="list-left">
			          	<span class="w-40 r-2x _600 text-lg accent">
			            	B
			            
			          </span></a>
			          <div class="list-body">
			          	<div class="m-y-sm pull-right">
			            	<a href="" class="btn btn-xs white">Manage</a>
			            	<a href="" class="btn btn-xs white btn-icon"><i class="fas fa-pencil-alt"></i></a>
		            	</div>
			            <div><h6 style="font-weight: 400;">Broadcast web app mockup</h6></div>
			            <div class="text-sm">
			            	<span class="text-muted"><strong>5</strong> tasks, <strong>3</strong> issues</span> 
			            	<span class="label"></span>
			            </div>
			          </div>
			        </li>
			        <li class="list-item">
			          <a herf="" class="list-left">
			          	<span class="w-40 r-2x _600 text-lg success">
			            	G
			            
			          </span></a>
			          <div class="list-body">
			          	<div class="m-y-sm pull-right">
			            	<a href="" class="btn btn-xs white">Manage</a>
			            	<a href="" class="btn btn-xs white btn-icon"><i class="fas fa-pencil-alt"></i></a>
		            	</div>
                          <div><h6 style="font-weight: 400;">GoodDesign Bootstrap 4 migration</h6></div>
			            <div class="text-sm">
			            	<span class="text-muted"><strong>35</strong> tasks, <strong>6</strong> issues</span> 
			            	<span class="label"></span>
			            </div>
			          </div>
			        </li>
			        <li class="list-item">
			          <a herf="" class="list-left">
			          	<span class="w-40 r-2x _600 text-lg purple">
			            	#
			            
			          </span></a>
			          <div class="list-body">
			          	<div class="m-y-sm pull-right">
			            	<a href="" class="btn btn-xs white">Manage</a>
			            	<a href="" class="btn btn-xs white btn-icon"><i class="fas fa-pencil-alt"></i></a>
		            	</div>
                          <div><h6 style="font-weight: 400;">#Hashtag android app develop</h6></div>
			            <div class="text-sm">
			            	<span class="text-muted"><strong>52</strong> tasks, <strong>13</strong> issues</span> 
			            	<span class="label"></span>
			            </div>
			          </div>
			        </li>
			        <li class="list-item">
			          <a herf="" class="list-left">
			          	<span class="w-40 r-2x _600 blue">
			            	<i class="fab fa-google"></i>
			            
			          </span></a>
			          <div class="list-body">
			          	<div class="m-y-sm pull-right">
			            	<a href="" class="btn btn-xs white">Manage</a>
			            	<a href="" class="btn btn-xs white btn-icon"><i class="fas fa-pencil-alt "></i></a>
		            	</div>
                          <div><h6 style="font-weight: 400;">Google material design application</h6></div>
			            <div class="text-sm">
			            	<span class="text-muted"><strong>15</strong> tasks, <strong>3</strong> issues</span> 
			            	<span class="label"></span>
			            </div>
			          </div>
			        </li>
			        <li class="list-item">
			          <a herf="" class="list-left">
			          	<span class="w-40 r-2x _600 blue-800">
			            	<i class="fab fa-facebook"></i>
			            
			          </span></a>
			          <div class="list-body">
			          	<div class="m-y-sm pull-right">
			            	<a href="" class="btn btn-xs white">Manage</a>
			            	<a href="" class="btn btn-xs white btn-icon"><i class="fas fa-pencil-alt"></i></a>
		            	</div>
			            <div><h6 style="font-weight: 400;">Facebook connection web application</h6></div>
			            <div class="text-sm">
			            	<span class="text-muted"><strong>30</strong> tasks, <strong>5</strong> issues</span> 
			            	<span class="label"></span>
			            </div>
			          </div>
			        </li>
			    </ul>
		    </div>
	    </div>
	    <div class="col-sm-12 col-md-6">
	    	<div class="box" style="height: 95%">
		      <div class="box-header">
		        <h3>Stats</h3>
		        <small>Your data status</small>
		      </div>
		      <div class="box-tool">
		        <ul class="nav">
		          <li class="nav-item inline">
		            <a class="nav-link">
		              <i class="material-icons md-18"></i>
		            </a>
		          </li>
		          <li class="nav-item inline dropdown">
		            <a class="nav-link" data-toggle="dropdown">
		              <i class="material-icons md-18"></i>
		            </a>
		            <div class="dropdown-menu dropdown-menu-scale pull-right">
		              <a class="dropdown-item" href="">This week</a>
		              <a class="dropdown-item" href="">This month</a>
		              <a class="dropdown-item" href="">This week</a>
		              <div class="dropdown-divider"></div>
		              <a class="dropdown-item">Today</a>
		            </div>
		          </li>
		        </ul>
		      </div>
		      <table class="table">
		        <thead>
		          <tr>
		            <th style="width:60px;" class="text-center">Graph</th>
		            <th>Item</th>                    
		            <th style="width:70px;"></th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>
		              <div ui-jp="sparkline" ui-refresh="app.setting.color" ui-options="[ 16,15,15,14,17,18,16,15,16 ], {type:'bar', height:19, barWidth:4, barSpacing:2, barColor:'#0cc2aa'}" class="sparkline inline"><canvas width="52" height="19" style="display: inline-block; width: 52px; height: 19px; vertical-align: top;"></canvas></div>
		            </td>
		            <td>App downloads</td>
		            <td class="text-success">
		              <i class="fa fa-level-up"></i> 40%
		            </td>
		          </tr>
		          <tr>
		            <td class="text-center">
		              <div ui-jp="sparkline" ui-refresh="app.setting.color" ui-options="[ 60,30,10 ], {type:'pie', height:19, sliceColors:['#fcc100','#fff','#0cc2aa']}" class="sparkline inline"><canvas width="19" height="19" style="display: inline-block; width: 19px; height: 19px; vertical-align: top;"></canvas></div>
		            </td>
		            <td>Social connection</td>
		            <td class="text-success">
		              <i class="fa fa-level-up"></i> 20%
		            </td>
		          </tr>
		          <tr>                    
		            <td>
		              <div ui-jp="sparkline" ui-refresh="app.setting.color" ui-options="[ 16,15,15,14,17,18,16,15,16 ], {type:'line', height:19, width:60, lineColor:'#0cc2aa', fillColor:'transparent'}" class="sparkline inline"><canvas width="60" height="19" style="display: inline-block; width: 60px; height: 19px; vertical-align: top;"></canvas></div>
		            </td>
		            <td>Revenue</td>
		            <td class="text-warning">
		              <i class="fa fa-level-down"></i> 5%
		            </td>
		          </tr>
		          <tr>                    
		            <td>
		              <div ui-jp="sparkline" ui-refresh="app.setting.color" ui-options="[ 16,15,15,14,17,18,16,15,16 ], {type:'discrete', height:19, width:60, lineColor:'#6cc788'}" class="sparkline inline"><canvas width="60" height="19" style="display: inline-block; width: 60px; height: 19px; vertical-align: top;"></canvas></div>
		            </td>
		            <td>Customer increase</td>
		            <td class="text-danger">
		              <i class="fa fa-level-down"></i> 20%
		            </td>
		          </tr>
		          <tr>                    
		            <td>
		              <div ui-jp="sparkline" ui-refresh="app.setting.color" ui-options="[ 16,15,15,14,17,18,16,15,16 ], {type:'line', height:19, width:60, lineColor:'#fcc100', fillColor:'#fcc100'}" class="sparkline inline"><canvas width="60" height="19" style="display: inline-block; width: 60px; height: 19px; vertical-align: top;"></canvas></div>
		            </td>
		            <td>Order placed</td>
		            <td class="text-warning">
		              <i class="fa fa-level-down"></i> 5%
		            </td>
		          </tr>
		          <tr>
		            <td>
		              <div ui-jp="sparkline" ui-refresh="app.setting.color" ui-options="[ 16,15,15,16,15,16,14,17,18 ], {type:'line', height:19, width:60, lineColor:'#fcc100', fillColor:'transparent'}" class="sparkline inline"><canvas width="60" height="19" style="display: inline-block; width: 60px; height: 19px; vertical-align: top;"></canvas></div>
		            </td>
		            <td>Visitors</td>
		            <td class="text-warning">
		              <i class="fa fa-level-down"></i> 8%
		            </td>
		          </tr>
		        </tbody>
		      </table>
		    </div>
	    </div>
	</div> 
          
          <div class="row">
	    <div class="col-sm-6 col-md-4">
	        <div class="box">
	            <div class="box-header">
	              <h3>Members</h3>
	            </div>
	            <ul class="list no-border p-b">
	              <li class="list-item">
	                <a herf="" class="list-left">
	                	<span class="w-40 avatar">
		                  <img src="dist/img/member.jpg" alt="..." style="width: 44px">
		                  <i class="on b-white bottom"></i>
	                    </span>
	                </a>
	                <div class="list-body">
	                  <div><h6 style="font-weight: 400;">Chris Fox</h6></div>
	                  <small class="text-muted text-ellipsis">Designer, Blogger</small>
	                </div>
	              </li>
	              <li class="list-item">
	                <a herf="" class="list-left">
	                  <span class="w-40 avatar">
		                  <img src="dist/img/member.jpg" alt="..." style="width: 44px">
		                  <i class="on b-white bottom"></i>
	                  </span>
	                </a>
	                <div class="list-body">
	                  <div><h6 style="font-weight: 400;">Mogen Polish</h6></div>
	                  <small class="text-muted text-ellipsis">Writter, Mag Editor</small>
	                </div>
	              </li>
	              <li class="list-item">
	                <a herf="" class="list-left">
	                  <span class="w-40 avatar">
		                  <img src="dist/img/member.jpg" alt="..." style="width: 44px">
		                  <i class="away b-white bottom"></i>
	                  </span>
	                </a>
	                <div class="list-body">
                        <div><h6 style="font-weight: 400;">Joge Lucky</h6></div>
	                  <small class="text-muted text-ellipsis">Art director, Movie Cut</small>
	                </div>
	              </li>
	              <li class="list-item">
	                <a herf="" class="list-left">
	                  <span class="w-40 avatar">
		                  <img src="dist/img/member.jpg"alt="..." style="width: 44px">
		                  <i class="busy b-white bottom"></i>
	                  </span>
	                </a>
	                <div class="list-body">
                        <div><h6 style="font-weight: 400;">Folisise Chosielie</h6></div>
	                  <small class="text-muted text-ellipsis">Musician, Player</small>
	                </div>
	              </li>
	              <li class="list-item">
	                <a herf="" class="list-left">
	                	<span class="w-40 avatar success">
		                  <span>P</span>
		                  <i class="away b-white bottom"></i>
		                </span>
	                </a>
	                <div class="list-body">
	                  <div><h6 style="font-weight: 400;">Peter</h6></div>
	                  <small class="text-muted text-ellipsis">Musician, Player</small>
	                </div>
	              </li>
	            </ul>
	        </div>
	    </div>
	    <div class="col-sm-6 col-md-4">
			<div class="box">
				<div class="box-header">
					<h3>Tasks</h3>
					<small>20 finished, 5 remaining</small>
				</div>
				<div class="box-tool">
			        <ul class="nav">
			          <li class="nav-item inline dropdown">
			            <a class="nav-link text-muted p-x-xs" data-toggle="dropdown">
			              <i class="fa fa-ellipsis-v"></i>
			            </a>
			            <div class="dropdown-menu dropdown-menu-scale pull-right">
			              <a class="dropdown-item" href="">New task</a>
			              <a class="dropdown-item" href="">Make all finished</a>
			              <a class="dropdown-item" href="">Make all unfinished</a>
			              <div class="dropdown-divider"></div>
			              <a class="dropdown-item">Settings</a>
			            </div>
			          </li>
			        </ul>
			    </div>
				<div class="box-body">
				  	<div class="streamline b-l m-l">
				        <div class="sl-item b-success">
				          <div class="sl-icon">
				            <i class="fa fa-check"></i>
				          </div>
				          <div class="sl-content">
				            <div class="sl-date text-muted">8:30</div>
				            <div>Call to customer Jacob and discuss the detail about the AP project.</div>
				          </div>
				        </div>
				        <div class="sl-item b-info">
				          <div class="sl-content">
				            <div class="sl-date text-muted">Sat, 5 Mar</div>
				            <div>Prepare for presentation</div>
				          </div>
				        </div>
				        <div class="sl-item b-warning">
				          <div class="sl-content">
				            <div class="sl-date text-muted">Sun, 11 Feb</div>
				            <div>Jessi assign you a task Mockup Design.</div>
				          </div>
				        </div>
				    </div>
				</div>
			  	<div class="box-footer" style="padding: 14px">
			  		<a href="" class="btn btn-sm warn text-u-c pull-right">Add one</a>
			  		<a href="" class="btn btn-sm white text-u-c">More</a>
			  	</div>
		  	</div>
		</div>
	    <div class="col-sm-12 col-md-4">
	    	<div class="box">
				<div class="box-header">
					<span class="label success pull-right">5</span>
					<h3>Activity</h3>
					<small>10 members update their activies.</small>
				</div>
				<div class="box-body" style="padding: 27px">
				  	<div class="streamline b-l m-b m-l">
		              <div class="sl-item">
		                <div class="sl-left">
		                  <img src="dist/img/member.jpg" style="width: 44px" class="img-circle">
		                </div>
		                <div class="sl-content">
		                  <a href="" class="text-info">Louis Elliott</a><span class="m-l-sm sl-date">5 min ago</span>
		                  <div>assign you a task <a href="" class="text-info">Mockup Design</a>.</div>
		                </div>
		              </div>
		              <div class="sl-item">
		                <div class="sl-left">
		                  <img src="dist/img/member.jpg" style="width: 44px" class="img-circle">
		                </div>
		                <div class="sl-content">
		                  <a href="" class="text-info">Terry Moore</a><span class="m-l-sm sl-date">10 min ago</span>
		                  <div>Follow up to close deal</div>
		                </div>
		              </div>
		              <div class="sl-item">
		                <div class="sl-left" style="margin-left: -48px">
		                  <img src="dist/img/member.jpg" style="width: 44px" class="img-circle">
		                </div>
		                <div class="sl-content" style="margin-left: 35px">
		                  <a href="" class="text-info">Walter Paler</a><span class="m-l-sm sl-date">1 hour ago</span>
		                  <div>was added to Repo</div>
		                </div>
		              </div>
		            </div>
		            <a href="" class="btn btn-sm white text-u-c m-y-xs">Load More</a>
		  		</div>
			</div>
	    </div>
	</div>
          
          
       
       
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->