 <!-- Main content -->
    <section class="content ">
      <div class="container-fluid">
        <!-- Main row -->
        <div >
            
            
          <!-- topbuttons -->
          <div class="row bar-topname">
            <div class="col-12">
                                <div class="page-title-box button-style">
                                    <h4 class="page-title float-left">Machine </h4>

                                     <ul class="breadcrumb float-right">
                                  		<li class="breadcrumb-item active">
                                            <button type="button" class="btn btn-sucess" data-toggle="tooltip" data-placement="bottom" style="background-color: deepskyblue;color: white"  id="addnew" title="Add New form"  ng-click="add()">Add New </button>
                                            </li>
                                         
                                    </ul>
                                    
                                    <div class="clearfix"></div>
                                </div>
                            </div>
        
               </div>  <!-- topbuttons -->
                
                
                 <!-- machine form start  -->
            <div class="row" >
                <div class="col-lg-12" ng-show="addTab">
                    <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="mb-0 text-white">Machine Registration</h4>
                            </div>
                            <div class="card-body">
                                <form >
                                    <div class="form-body">
                                        <h3 class="card-title">Machine Info</h3>
                                        <hr>
                                        <div class="row pt-3">
                                           <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Channel No</label>
                                                    <input type="text" id="chennelNo"  ng-model="machine.chennelNo" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Enter Chennel No">
                                                    <span  ng-show="chennelNoError" style="color: red;" class="ng-hide " aria-hidden="false" >  * machine  is mandatory </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Machine Name</label>
                                                    <input type="text" id="Machin_Name"  ng-model="machine.machineName" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Enter Machine Name">
                                                    <span  ng-show="machinError" style="color: red;" class="ng-hide " aria-hidden="false" >  * machine  is mandatory </span>
                                                </div>
                                            </div>
                                               <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Asset Number</label>
                                                    <input type="text" id="asset_number"  ng-model="machine.assetNumber" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Enter Asset Number" ng-change="checkAssetNo(machine.assetNumber)">
                                                    <span  ng-show="assetNoError" style="color: red;" class="ng-hide " aria-hidden="false" >  * machine  is mandatory </span>
                                                	<span  ng-show="assetNoExits" style="color: red;" class="ng-hide " aria-hidden="false" >  Asset Number Already Exits</span>
                                                	
                                                </div>
                                            </div>
                                            
                                           
                                             
                                          
                                        </div>
                                        
                                        
                                        <div class="row ">
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Asset type</label>
                                                    <input type="text" id="Machin_Name"  ng-model="machine.assetType" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Enter Asset Type">
                                                    <span  ng-show="assettypeError" style="color: red;" class="ng-hide " aria-hidden="false" >  * asset type  is mandatory </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Application</label>
                                                    <input type="text" id="application" ng-model="machine.application"  class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder=" Enter Application">
                                                    <span ng-show="applicationErr" style="color: red;" class=" ng-hide" aria-hidden="false"> * application is mandatory. </span>
                                                </div>
                                            </div>
                                           
                                            
                                            
                                            
                                           
                                        </div>
                                       
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Purches Date</label>
                                                    <input type="date"  id="purches_date" ng-model="machine.purchaseDate" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="dd/mm/yyyy">
                                                    <span ng-show="dateError" style="color: red;" class=" ng-hide" aria-hidden="false">  * date is is mandatory. </span> 
                                                      
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Cuurent Cost center</label>
                                                    <input type="text" id="current_costcenter" ng-model="machine.currentCostCenter"  class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Enter Cuurent Cost center">
                                                    <span ng-show="currentErr" style="color: red;" class=" ng-hide" aria-hidden="false"> * current cost center is mandatory </span> 
                                                 </div>
                                            </div>
                                            
                                             
                                        </div>
                                        <!-- <div class="row">
                                        	<div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <select class="form-control ng-pristine ng-valid ng-empty ng-touched custom-select"
                                                            ng-model="machine.status"  id="status">
                                                        <option value disabled class selected="selected"> Select your Status </option>
                                                        <option>Active</option>
                                                        <option>Inactive</option>
                                                       
                                                    
                                                    <span ng-show="statusError" style="color: red;" class="ng-hide" aria-hidden="false"> *  status  is mandatory. </span>
                                                        </select>
                                                </div>
                                            </div>
                                           
                                        
                                        
                                        </div> -->
                                       
                                    </div>
                                    
                                    
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success" ng-click="save(machine)"> <i class="fa fa-check"  ></i> Save</button>
                                        <button type="button" class="btn btn-success btn-cancel " ng-click="cancel()">Cancel</button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                
                </div>
                
            
            </div>  <!-- machine form end  -->
        
                
              <!-- tabel start -->
                
            <div class="row">
            <div class="col-12">
                <div class="card">
              <div class="card-header">
               
                  <h4 class="mb-0 text-white">Machine Data Table</h4>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                   <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="dt-buttons btn-group flex-wrap" style="padding-bottom: 22px">               
                            
                                  <button type="button" class="btn btn-primary btn-rounded w-md waves-effect waves-light button-style" id="tooltip-touch" title="Export Excel" ng-click="newExcel()" style="margin-top: 0.5%;margin-left: 1%;"><i class="fa fa-file-excel-o" style="font-size:18px;margin:0 2px;"></i>Download Excel</button>
						       <button id="btnExport" ng-json-export-excel data="vm.allMachines" report-fields="vm.labels" style="display:none" filename="'Machines'" ></button>
						                                   
                        </div>
                        
                        </div>
                       <div class="col-sm-12 col-md-4">
                      <div id="example1_filter" class="dataTables_filter">
                           <label for="search">items per page:</label>
					              <input type="number" min="1" max="100" class="form-control" ng-model="vm.perPage" >
                      </div>
                  </div>
                  
                  <div class="col-sm-12 col-md-4">
                      <div id="example1_filter" class="dataTables_filter">
                          <label class="label_serach">Search: </label>
                              <input type="search" class="form-control form-control-sm "  ng-model="search" placeholder="" aria-controls="example1" ng-change="searchByPagination(search)">
                      </div>
                  </div>
                       
                  </div>
                  
                  <div class="row">
                  
                 <div class="col-sm-12 table-responsive "> 
                     
                <table class="table table-bordered table-striped">
                   
                  <thead class="table_thead">
                  <tr>
                  	 <th>Sr.No</th>
                  	  <th>Channel No</th>
                    <th>Machine Name</th>
                    <th>Asset type</th>
                     <th>Asset Number</th>
                    <th>Application</th>
                    <th>Purchase date</th>
                    <th>Current cost center</th>
                      <th>Status</th>
                      <th>Action</th>
                  </tr>
                  </thead>
                    
                  <tbody>
                  <tr ng-show="vm.machines.length <= 0"><td colspan="8" style="text-align:center;">Data Not Found!!
				   <tr dir-paginate="machine in vm.machines| filter:q |itemsPerPage:vm.perPage" total-items="vm.total_count" current-page="pagination.current">
						   <td class="text-center">{{(vm.perPage*(vm.pageno-1))+($index+1)}}</td>
						     <td>{{machine.chennelNo}}</td>
						   <td>{{machine.machineName}}</td>
		                   <td>{{machine.assetType}}</td>
		                    <td>{{machine.assetNumber}}</td>
		                   <td>{{machine.application}}</td>
		                   <td>{{machine.purchaseDate|date:'dd-MM-yyyy'}}</td>
		                   <td>{{machine.currentCostCenter}}</td>
		                   <td>{{machine.status}}</td>
						   <td>
							 <i class="fa fa-trash tableicon" data-toggle="tooltip" data-placement="bottom" title="Delete" ng-click="deletMachine(machine)"></i>
				             <i class="fas fa-edit tableicon" data-toggle="tooltip" data-placement="bottom" title="Edit"  ng-click="editmachine(machine)"></i>
				             <i  class="fas fa-sync"  data-toggle="tooltip" data-placement="bottom" title="Status Change" ng-click="changeStatus(machine)"></i>
				
			               </td>	
				</tr>			
                   
                    </tbody>  
                </table>
                   <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"  ></dir-pagination-controls>
                     
                      </div>
                  </div>
                 <!--  
                  <div class="row">
                      
                    <div class="col-sm-12 col-md-5">
                              <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 entries
                              
                              </div>
                      </div>
                      
                      <div class="col-sm-12 col-md-7">
                          <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                              <ul class="pagination">
                                  <li class="paginate_button page-item previous disabled" >
                                      <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                  </li>
                                  <li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                  <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                 <li class="paginate_button page-item next" ><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                              </ul>
                          </div>
                      
                      
                      </div>
                    
                  
                  </div> -->
                  
              </div>
              <!-- /card-body -->
            </div>
                </div>
                </div>   <!-- tabel end  -->
            
            </div>     
    
            
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>